<div class="slide">
	<img src="{IMAGE}" alt="">

	<div class="item animate_ftr tr_all_medium d_xs_none t_align_c">
		<h1 class="fw_ex_light color_light tt_uppercase">{BIG}</h1>

		<p class="slider_title_1 fw_ex_bold color_light tt_uppercase lh_ex_small m_bottom_23 m_sm_bottom_5">
			{BIGGEST}
		</p>

		<p class="color_light m_bottom_25 m_sm_bottom_5">
			{TEXT}
		</p>
		<a  style="display: {VISIBLE_BUTTON};" href="{BUTTON}"
		   class="button_type_3 d_inline_b color_light transparent color_purple_hover r_corners tr_all tt_uppercase fs_medium d_block">
			Maggiori info
		</a>
	</div>
</div>
